.form {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #333;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.field_wrap {
  display: flex;
  flex-direction: column;
}

.field_wrap label {
  margin-bottom: 8px;
  font-size: 18px;
}

.input {
  padding: 8px;
  border-radius: 4px;
}

.input + span {
  color: red;
}

.form button {
  padding: 4px;
  margin: 0 auto;
}
